<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Matayo Ayo" />
    <meta name="title" content="Bolierplate title" />
    <meta name="description" content="Boilerplate description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="boilerplate.link.here" />
    <meta property="og:url" content="boilerplate.link.here" />
    <meta property="og:title" content="Boilerplate title`" />
    <meta property="og:description" content="Boilerplate description" />
    <meta property="og:type" content="website" />
    <!-- <meta property="og:image" content="data:image/png;base64,<%= siteFiles.logo %>" /> -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="data:image/png;base64,<%= siteFiles.logo %>" /> -->
    <!-- <link rel="icon" type="image/png" href="data:image/png;base64,<%= siteFiles.logo_icon %>" /> -->
    <!-- <link rel="manifest" href="data:image/png;base64,<%= siteFiles.manifest %>" /> -->
    <!-- <link rel="mask-icon" href="data:image/png;base64,<%= siteFiles.logo %>" color="#5bbad5" /> -->
    <meta name="msapplication-TileColor" content="#D4D4D4" />
    <!-- <link href="data:text/css;base64,<%= siteFiles.style_app %>" rel="stylesheet" /> -->
    <!-- <link href="data:text/css;base64,<%= siteFiles.style_main %>" rel="stylesheet" /> -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <title>React with shadcn</title>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
